.project-card {
  .project-links {
    > a {
      display: inline-block;
      vertical-align: middle;
      width:14%;
      margin: 0px 2px;
      > img {
        width:100%;
      }
    }
  }
}
.cover {
  position: relative;
  display: block;
}
.cover::after {
  content: '';
  width: calc(100% + 48px);
  height: calc(100% + 24px);
  margin: -24px -24px 0 -24px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
  background-image: url("../../../../assets/images/link.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.mat-card-image {
  margin-bottom: 0px;
}

.mat-card-title {
  margin-top: 8px !important;
  margin-bottom: 0px;
}

.mat-card-footer {
  background: #f0f0f0;
}
