<mat-card class="project-card">
  <a *ngIf="project.link" appLink [routerLink]="[project.link]">
      <img mat-card-image src="./assets/images/{{this.project.image}}">
  </a>
  <a *ngIf="!project.link">
    <img mat-card-image src="./assets/images/{{this.project.image}}">
</a>
  <mat-card-title>{{ this.project.name }}</mat-card-title>
  <mat-card-actions class="project-links">
    <a *ngIf="this.project.devpost" target="_blank" href="https://devpost.com/software/{{this.project.devpost}}">
      <img src="./assets/images/devpost-icon.svg">
    </a>
    <a *ngIf="this.project.github" target="_blank" href="https://github.com/{{this.project.github}}">
      <img src="./assets/images/github-icon.svg">
    </a>
    <a *ngIf="this.project.tba" target="_blank" href="https://www.thebluealliance.com/team/{{this.project.tba}}">
        <img src="./assets/images/tba-icon.png">
      </a>
  </mat-card-actions>
</mat-card>
