@font-face {
    font-family: Roboto;
    src: url("~/resources/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Noto_Serif;
    src: url("~/resources/font/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
    font-family: Oxygen;
    src: url("~/resources/font/Oxygen/Oxygen-Regular.ttf");
}
@font-face {
    font-family: Ubuntu;
    src: url("~/resources/font/Ubuntu/Ubuntu-Regular.ttf");
}

$colour-primary: #666BBB;