<nav class="navbar navbar-toggleable navbar-default fixed-top affix-top" [ngClass]="setClasses()">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
    <i class="fas fa-bars"></i>
  </button>
  <a class="navbar-brand page-scroll" [routerLink]="'/'">Bryan Kristiono</a>

  <div id="collapse" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-link"><a [routerLink]="['/About']">About</a></li>
      <li class="nav-link"><a [routerLink]="['/Projects']">Projects</a></li>
      <li class="nav-link"><a target="_blank" href="./assets/resume.pdf">Resume</a></li>
    </ul>
  </div>
</nav>
