@import '../../../../resources/css/constants';

.main-bottom {
    text-align: center;
    font-size: 3rem;
    padding-top: 32px;
    > a {
        color:black;
        padding: 0 1rem;
        vertical-align: middle;
        // &:hover {
        //     color: $colour-primary;
        //     transition: .2s ease-in-out;
        //     font-size:4.5rem;
        // }
    }
}

@media(min-width: 576px) {
  main-bottom {
    padding-top: 0px;
    font-size: 4rem;
  }
}
