@import '../../../../resources/css/constants';

.main-bottom {
    text-align: center;
    font-size: 4rem;
    > a {
        color:black;
        padding: 0 1rem;
        vertical-align: middle;
        &:hover {
            color: $colour-primary;
            transition: .2s ease-in-out;
            font-size:4.5rem;
        }
    }
}