<div class="contianer main-bottom">
  <!-- <div class="icon"> -->
    <a href="https://github.com/Kristinus" title="Github"><i class="fab fa-github-square" aria-hidden="true"></i></a>
  <!-- </div>
  <div class="icon"> -->
    <a href="mailto:bryan.m.kristiono@gmail.com" title="Mail"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  <!-- </div>
  <div class="icon"> -->
    <a href="linkedin.com/in/bryankristiono/" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  <!-- </div> -->
</div>
