@import './resources/css/constants';


.main-body {
    padding-top: 64px;
    min-height: calc(100vh - 40px);
//     background: linear-gradient(rgba($colour-primary, 0.6), white);
}

p {
    margin:0;
}
