.main-body {
    min-height: calc(100vh - 140px);
}

.margin-top {
    margin-top: 20vh;
}

.name {
    font-size: 3.8rem;
    text-align: center;
}

@media (min-width: 576px) {
  .name {
    font-size: 6rem;
  }
}

app-sunny-background, app-rain-background, app-snow-background {
  overflow: hidden;
}
